################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Project1-GradeCalculator/GradeCalculator/.vs/GradeCalculator
/Project1-GradeCalculator/GradeCalculator/obj
/Project1-GradeCalculator/GradeCalculator/bin/Debug/net8.0
